certifi==2026.1.4
colorama==0.4.6
distlib==0.4.0
env==0.1.0
filelock==3.20.3
iniconfig==2.3.0
numpy==2.4.3
opencv-python==4.13.0.92
packaging==25.0
pipenv==2026.0.3
platformdirs==4.5.1
pluggy==1.6.0
pygame==2.6.1
Pygments==2.19.2
PyMsgBox==2.0.1
pyperclip==1.11.0
pytest==8.4.2
setuptools==80.10.2
virtualenv==20.36.1
